*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/schemas/com.software.financetracker.data.local.FinanceDatabase/1.json
/app/schemas/com.software.financetracker.data.local.FinanceDatabase/2.json
/ARCHITECTURE.md
/app/release/app-release.apk
/app/release/baselineProfiles/0/app-release.dm
/app/release/baselineProfiles/1/app-release.dm
/CLAUDE.md
/.idea/codeStyles
/FEATURES.md
/docs/metrics-screen.md
/app/release/output-metadata.json
